/* extra small mobile */
@media (max-width: 480px) {
   .product-name{
    margin-bottom: 10px;
   }
   .product-category{
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(190, 185, 185);
   }
   .product-brand{
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
   }
   .product-image{
    margin-bottom: 10px;
   }
   .product-image input:focus{
    outline: none;
   }
   .product-price{
    margin-bottom: 10px;
   }
   .pencil{
    color: black;
   }
   .trash{
    color: black;
   }
   .table_img{
    width: 50px;
    height: 50px;
    object-fit: contain;
   }
   .edit_product_image{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-top: 10px;
   }
   .main-text{
    color: black;
    font-size: 25px;
    font-weight:600;
   }
  }

  .register_user_input_div{
    margin-bottom: 10px;
  }

  .register_user_input_div input{
    width: 100%;
  }

  .register_member_btn{
    background-color: #f00;
    color: white;
    outline: none;
    border: none;
  }

  .register_member_btn:hover{
    color: white;
  }

  .view_member_btn:focus{
    outline: none;
  }
  button:focus{
    outline: none;
  }

  .success-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4BB543;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .success-alert {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  
  .success-alert-member {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4BB543;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .success-alert-member {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  
  .error-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(241, 87, 87);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .error-alert {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  .error-alert-member {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(241, 87, 87);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .error-alert-member {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  .error-cancel-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(241, 87, 87);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .error-cancel-alert {
      font-size: 14px;
      padding: 10px 20px;
    }
  }


  .order_status{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
  }

  .status_btn{
    height: 25px;
    margin-bottom: 10px;
  }

  .user_order_name{
    text-transform:capitalize;
  }


  .trash{
    color: black;
    cursor: pointer;
   }

  .insert-btn{
    background-color: #f00;
    border: none;
  }
  .insert-btn:hover{
    background-color: #f00;
    border: none;
  }

 

/* mobile */

/* alert starts */
.success-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4BB543;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2.5s ease-in-out;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: translate(-50%, -20%); }
  10%  { opacity: 1; transform: translate(-50%, 0); }
  90%  { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, -20%); }
}
.success-alert-delete {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4BB543;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2.5s ease-in-out;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: translate(-50%, -20%); }
  10%  { opacity: 1; transform: translate(-50%, 0); }
  90%  { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, -20%); }
}

/* Responsive adjustments if needed */
@media (max-width: 600px) {
  .success-alert {
    font-size: 14px;
    padding: 10px 20px;
  }
  .success-alert-delete {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.error-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgb(241, 87, 87);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2.5s ease-in-out;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: translate(-50%, -20%); }
  10%  { opacity: 1; transform: translate(-50%, 0); }
  90%  { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, -20%); }
}

/* Responsive adjustments if needed */
@media (max-width: 600px) {
  .error-alert {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.field-error-alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color:rgb(241, 87, 87);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 9999;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 2.5s ease-in-out;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: translate(-50%, -20%); }
  10%  { opacity: 1; transform: translate(-50%, 0); }
  90%  { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, -20%); }
}

/* Responsive adjustments if needed */
@media (max-width: 600px) {
  .field-error-alert {
    font-size: 14px;
    padding: 10px 20px;
  }
}

/* alert ends */

@media (min-width: 481px) and (max-width: 768px) {
    .product-name{
        margin-bottom: 10px;
       }
       .product-category{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);
       }
       .product-brand{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);
       }
       .product-image{
        margin-bottom: 10px;
       }
       .product-image input:focus{
        outline: none;
       }
       .product-price{
        margin-bottom: 10px;
       }
       .pencil{
        color: black;
       }
       .trash{
        color: black;
        cursor: pointer;
       }
       .table_img{
        width: 50px;
        height: 50px;
        object-fit: contain;
       }
       .edit_product_image{
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-top: 10px;
       }
       .main-text{
        color: black;
        font-size: 25px;
        font-weight:600;
       }
}

/* tablet */

@media (min-width: 769px) and (max-width: 1024px) {
    .product-name{
        margin-bottom: 10px;
       }
       .product-category{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);

       }
       .product-brand{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);
       }
       .product-image{
        margin-bottom: 10px;
       }
       .product-image input:focus{
        outline: none;
       }
       .product-price{
        margin-bottom: 10px;
       }
       .pencil{
        color: black;
       }
       .trash{
        color: black;
       }
       .table_img{
        width: 50px;
        height: 50px;
        object-fit: contain;
       }
       .edit_product_image{
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-top: 10px;
       }
       .main-text{
        color: black;
        font-size: 25px;
        font-weight:600;
       }
}
/* desktop */

@media (min-width: 1025px) and (max-width: 1200px) {
    .product-name{
        margin-bottom: 10px;
       }
       .product-category{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);

       }
       .product-brand{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);

       }
       .product-image{
        margin-bottom: 10px;
       }
       .product-image input:focus{
        outline: none;
       }
       .product-price{
        margin-bottom: 10px;
       }
       .pencil{
        color: black;
       }
       .trash{
        color: black;
       }
       .table_img{
        width: 70px;
        height: 70px;
        object-fit: contain;
       }
       .edit_product_image{
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-top: 10px;
       }
       .main-text{
        color: black;
        font-size: 25px;
        font-weight:600;
       }
}

/* laptops */

@media (min-width: 1201px) { 
    .product-name{
        margin-bottom: 10px;
       }
       .product-category{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);
       }
       .product-brand{
        margin-bottom: 10px;
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(190, 185, 185);
       }
       .product-image{
        margin-bottom: 10px;
       }
       .product-image input:focus{
        outline: none;
       }
       .product-price{
        margin-bottom: 10px;
       }
       .pencil{
        color: black;
        font-size: 20px;
       }
       .trash{
        color: black;
        font-size: 20px;
       }
       .table_img{
        width: 100px;
        height: 100px;
        object-fit: contain;
       }
       .edit_product_image{
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin-top: 10px;
       }
       .main-text{
        color: black;
        font-size: 25px;
        font-weight:600;
       }
 }