.search-btn{
    color: yellow;
    border: none;
    background: none;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user_cancel_div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.user_cancel_div button{
    border: 0;
    border-radius: 2px;
    padding: 5px;
    outline: none;

}


.user_cancel_div button:hover{
    background-color: red;
}

.user_cancel_div button a{
    text-decoration: none;
    color: red;
}

.user_cancel_div button{
    color: black;
}

.user_cancel_div button:hover{
    color: white;
}

.user_cancel_div button a:hover{
    color: white;
}

.cancel_input_div{
    margin-top: 5px;
    display: none;
}

.cancel_input_div button{
    margin-top: 5px;
    border: none;
    border-radius: 3px;
}

.cancel_input_div .back{
    background-color: blue;
    color: white;
    outline: none;
}

.cancel_input_div .confirm{
    background-color: red;
    color:  white;
    outline: none;

}

.cancel_input_div input{
    outline: none;
    border: 1px solid gray;
    padding: 4px;
}

.search-warning{
    margin: 0 auto;
    color: gray;
    font-size: 30px;
}

.cart_table_image{
    display: flex;
    align-items: start;
    margin: auto 0;
    align-items: center;
}

.cart_table_image img{
    margin-right: 3px;
}

.update_cart_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

/* for profile page */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 20%;
    height: 20%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
    margin-bottom: 50px;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    padding: 5px;
    font-weight: 600;
    font-size: 10px;
    color: #6c757d;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    line-height: 30px;
    font-size: 14px;
}

a{
    text-decoration: none;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}
.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.select_for_payment{
    width: 200px;
    padding: 10px;
}


.success-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4BB543;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .success-alert {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  
.success-alert-cancel-order {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4BB543;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .success-alert-cancel-order {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  .error-alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(241, 87, 87);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .error-alert {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  .no_stock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile_money_number_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    padding-top: 4px;
  }

  .mobile_money_number_div p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile_money_number_div h6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .remove-cart {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(241, 87, 87);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s ease-in-out;
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; transform: translate(-50%, -20%); }
    10%  { opacity: 1; transform: translate(-50%, 0); }
    90%  { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  /* Responsive adjustments if needed */
  @media (max-width: 600px) {
    .remove-cart {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  /* alert ends */




/* Small devices (phones, 576px and up) */
@media (max-width: 576px) {
    .payment-card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    .payment-button{
        display: flex;
        margin: auto;
    }
    .payment-card-inn{
        margin-bottom: 30px;
    }
    .profile-head h5{
        color: #333;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .profile-head h6{
        color: #0062cc;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
    }.account-links{
        display: flex;
        justify-content: space-around;
    }.account-link-head{
        display: flex;
        justify-content: center;
        align-items: center;
    }.about-me{
        margin-left: 30px;
    }
    .date-text{
        font-size: 14px;
    }
  
  
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) {  
    .payment-card-body{
        padding-bottom: 30px;
    }
    .payment-button{
        margin-left: 10px;
    }
  
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .payment-card-body{
        display: flex;
        flex-direction: row;
    }
    .responsive-search-bar{
        width: 60%;
        margin: 0 auto;
    }
    .profile-img img{
        width: 40%;
        height: 40%;
    }
    .payment-button{
        margin-left: 55px;
    }
   
}

/* Large devices (laptops, 992px and up) */
@media (min-width: 992px) {
    .responsive-search-bar{
        display: none;
    }
    .profile-img img{
        width: 40%;
        height: 40%;
    }
    .payment-button{
        margin-left: 77px;
    }
    .profile-edit-btn{
        border: none;
        border-radius: 1.5rem;
        width: 100%;
        padding: 5px;
        font-weight: 600;
        font-size: 15px;
        color: #6c757d;
        cursor: pointer;
        background-color: rgb(240, 240, 240);
    }
    #confirmBox {
        width: 30%;
        background-color: red;
    }

}

/* Extra large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .payment-button{
        margin-left: 160px;
    }

 
}